.mat-card-header {
    text-align: center;
    justify-content: center;
}

.profile-infos {

}

.profile-actions {
}

.mat-raised-button {
    background-color: #f09f9f;
}
.movie-box {

}

.profile-container {
    text-align: center;
    justify-content: center;
}

